body 
{
    background-color: bisque;
}

h1, h2, h3, h4, h5, h6
{
    color: darkred;
}

p{
    font-size: 16px;
}

.intro
{
    text-align: center;
}

.list
{
    font-weight: bold;
    width: 200px;
    background-color: pink;
}

#redirect
{
    color: maroon;
}

#hobbies
{
    border: 1px solid black;
}

#foods
{
    border: 2px dotted black;
}